li span {
  display: inline-block;  
  width: 140px;
}

#resultul {
  width: 500px;
}

#resultul :nth-child(even) {
  background-color: #cccccc44;
}

#resultul :nth-child(odd) {
  background-color: #cccccc22;
}

#itemname {

}

#removebtn {
  border: none;
  margin: 1px;
}

#labelc {
  text-align: right;
}

#idlistli {
  list-style-type: decimal;
}